.logotype {
  width: 320px;
  height: 55px;
  margin-inline: auto;
  margin-bottom: 24px;

  @media screen and (max-width: 600px) {
    width: 100%;
    min-width: 200px;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  text-align: center;
}

.submit {
  margin-top: 24px;
}
